.light {
	margin: 0 2px;
	padding: 2px 5px;
	color:#CE2323;
	background-color: rgba(255,58,71,.03);
	border-radius: 3px;
	font-family: Menlo,Consolas,Arial,sans-serif;
}
a {
	color:#08c;
	font-weight:bold;
}

body{
	font-size:15px;
	line-height:200%;
}

pre {  
    background-color:inherit;
	border: #bbb dashed 1px;
}

h1 {
	padding-bottom: 20px;
}

hr {
	border-top:1px solid #754d4d;
}


code {
	background-color:inherit;
	bolder:none;
}

.backtop{
	position: fixed;
    right: 50px;
    z-index: 9000;
    top: 100%;
    margin-top: -100px;
	display:none;
}