.light {
	color:#d44950;
	#text-decoration:underline;
}
a {
	color:#08c;
	font-weight:bold;
}

body{
	font-size:15px;
	#background-color:#d7ccc8;
	background-color:#F9F9F5;
	line-height:200%;
}

pre {  
    background-color:inherit;
	bolder:2px #000 solid;
}

code {
	background-color:inherit;
	bolder:none;
}

.backtop{
	position: fixed;
    right: 50px;
    z-index: 9000;
    top: 100%;
    margin-top: -100px;
	display:none;
}