<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="xichao">
<link rel="icon" href="/images/favicon.ico">

<!-- Bootstrap theme -->
<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/bootstrap/theme.css" rel="stylesheet">

<title>{{page.title}} - xichao.tech</title>