<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
	<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="font-weight:900;" href="/">席超的博客</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">首页</a></li>
            <li><a href="/#latest">最新</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">技术 <span class="caret"></span></a>
              <ul class="dropdown-menu">
			    <li class="dropdown-header">Java</li>
				<li><a href="/#spring">Spring</a></li>
				<li><a href="/#hibernate">Hibernate</a></li>
				<li><a href="#mybatis">Mybatis</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">BigData</li>
                <li><a href="#hadoop">Hadoop</a></li>
				<li><a href="#spark">Spark</a></li>
				<li role="separator" class="divider"></li>
                <li class="dropdown-header">Database</li>
				<li><a href="#mysql">Mysql</a></li>
				<li><a href="#oracle">Oracle</a></li>
              </ul>
            </li>
			<li><a href="#life">生活</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<div class="container">
    {{content}}
	</div>
	<footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
