<!DOCTYPE html>
<html>
<head>
  {% include header.html %}
  <link rel="stylesheet" href="/css/index-page.css" />
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
</head>
<body>
<div class="table">
  <div class="table-cell">
    <img src="/images/head.jpg" class="headImg" /><br>
    <div class="name">
      <span>xi     chao</span>
    </div>
    <div class="description">
      <span>personal notes</span>
    </div>
    <div class="awesome">
      <i class="fa fa-bookmark-o"></i>
      <i class="fa fa-tags"></i>
      <i class="fa fa-github"></i>
      <i class="fa fa-wechat"></i>
    </div>
    <div class="wechat">
      <img src="/images/wechat-qr-code.jpg">
    </div>
    <div style="display: none">
      <iframe id="wymusic" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86></iframe>
    </div>
  </div>
</div>
<script src="/js/jquery/jquery-1.12.4.min.js"></script>
<script src="/js/jquery/jQueryRotate-2.3.js"></script>
<script src="/js/index-page.js"></script>
<script src="/js/baidu/statistic.js"></script>
</body>
</html>
